<form [formGroup]="editBrandForm" class="editBrandForm" (ngSubmit)="onSubmit(editBrandForm.value)">
  <h1>Edit Brand</h1>

  <mat-form-field appearance="outline" id="txtName">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" formControlName="name" type="text" required>
  </mat-form-field>

  <h4>Image</h4>
  <div id="imageContainer">
    <img src={{this.brandStore.brand?.image}}>
  </div>

  <label>Upload Image</label><br><br>
  <input type="file" (change)="uploadFileChange($event)"><br><br>

  <div class="containerWithSpaceBetween">
    <div>
      <button mat-raised-button class="buttonWithIcon" type="button" mat-dialog-close
       style="margin-right: 20px; background-color: #FF033E; color: white;">
        <mat-icon style="background-color: #ce0231; color: white;">close</mat-icon>
        <span>Close</span>
      </button>

      <button mat-raised-button class="buttonWithIcon" type="reset"
       style="margin-right: 20px; background-color: #F44336; color: white;">
        <mat-icon style="background-color: #c4372d; color: white;">not_interested</mat-icon>
        <span>Clear</span>
      </button>
    </div>
    <button mat-raised-button class="navyBlue-button buttonWithIcon" type="submit" style="margin-right: 0px;">
      <mat-icon>save</mat-icon>
      <span>Save</span>
    </button>
  </div>
</form>
