@import '../../../../setting.scss';

.navigationHeaderContainer {
  width: 100%;
  height: auto;
  background-color: white;
  overflow: auto;

  .navigationContainer {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 20px;

    ul {

      li {
        list-style-type: none;
        float: left;
        padding: 10px 20px;
      }

      li:hover {
        cursor: pointer;
        color: white;
        background-color: $base-color;
      }

      li:focus {
        outline: none;
        border: none;
      }
    }
  }
}

@media only screen and (max-width: 850px) {

  .navigationHeaderContainer {
    display: none !important;
  }

}
