.productPreviewContainer {
  background-color: white;
  max-width: 1400px;
  margin: 0 auto;
  padding: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  .previewLeftSide {
    width: 50%;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;

    .mainImage {
      width: 50%;
    }

    .imagesPreview {
      text-align: center;
      margin-top: 20px;
      // text-align: left;

      .imagePreview_thumbnail {
        border: 2px solid #0177CF;
        border-radius: 2px;
        transition: 0.5s;
        width: 100px;
        filter: grayscale(100%);
        margin-right: 20px;
      }

      .imagePreview_thumbnail:hover {
        cursor: pointer;
        transition: 0.5s;
        width: 100px;
        filter: grayscale(0%);
      }
    }
  }

  .previewRightSide {
    width: 50%;

    p {
      width: 100%;
      // margin-left: 20px;
      // padding-right: 20px;
      overflow: hidden;
    }

    .linksContainer {
      width: 100%;
      padding: 20px 0px;
      margin-bottom: 20px;
      border-top: 1px solid rgb(199, 199, 199);
      border-bottom: 1px solid rgb(199, 199, 199);

      p {
        margin-bottom: 10px;
      }

      p:last-child {
        margin-bottom: 0;
      }

      span {
        color: #0177CF;
        text-decoration: underline;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .colorLabelContainer {
      display: flex;

      .colorLabel {
        margin: 0;
        padding: 10px 15px;
        background-color: rgb(155, 155, 155);
        border: 1px solid grey;
        color: white;
        font-weight: 400;
        margin-right: 10px;
        border-radius: 5px;
      }

      .colorLabel:hover {
        cursor: pointer;
        background-color: grey;
      }
    }
  }
}

button {
  border: 2px solid grey;
  background: none;
  color: grey;
}

button:hover {
  border: 2px solid #0177CF;
  background: none;
  color: #0177CF;
}

.active {
  border: 2px solid #0177CF;
  background: none;
  color: #0177CF;
}

.active_image {
  // transition: 0.5s;
  // width: 10px;
  filter: grayscale(0%) !important;
}

@media only screen and (max-width: 850px) {

  .productPreviewContainer {
    flex-wrap: wrap;
    margin-top: 100px;

    .previewLeftSide {
      width: 100%;
      // margin-bottom: 50px;

      .mainImage {
        width: 100%;
      }
    }

    .previewRightSide {
      margin-top: 40px;
      width: 100%
    };
  }

  .colorLabelContainer {
    text-align: left;
    flex-wrap: wrap;

    .colorLabel {
      float: left;
    }
  }
}
