mat-form-field {
  width: 100%;
}

button {
  margin-right: 20px;
}

.Group_ImageContainer {
  width: 100%;
  margin-bottom: 20px;

  .ImageContainer {
    width: 220px;
    margin-top: 20px;
    position: relative;

    img {
      width: 100%;
    }

    button {
      // display: none;
      position: absolute;
      bottom: 25px;
      right: 0;
    }
  }
}
