<div id="categoryContainer" *mobxAutorun>
  <div class="categoryHeader">
    <h1>Category</h1>
    <div>
      <button mat-raised-button class="navyBlue-button" (click)="OpenAddCategoryDialog()">
        <mat-icon>add</mat-icon>
        <span>Add Category</span>
      </button>
      <button mat-raised-button class="navyBlue-button" (click)="OpenAddIconPackageDialog()" [ngStyle]="{'margin-left': '20px'}">
        <mat-icon>add</mat-icon>
        <span>Add Icon Package</span>
      </button>
    </div>
  </div>

  <div style="padding: 20px 0px !important;" *ngIf="this.categoryStore.loading">
    <ng-container>
      <p-skeleton styleClass="p-mb-2"></p-skeleton> <br>
      <p-skeleton width="10rem" styleClass="p-mb-2"></p-skeleton> <br>
      <p-skeleton width="5rem" styleClass="p-mb-2"></p-skeleton> <br>
      <p-skeleton height="2rem" styleClass="p-mb-2"></p-skeleton> <br>
      <p-skeleton width="10rem" height="4rem"></p-skeleton>
    </ng-container>
  </div>

  <div class="scrollable-table" *ngIf="!this.categoryStore.loading" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="500"
  [ngStyle]="{'height': '750px', 'overflow-y': 'auto', 'padding': '0px 10px', 'margin-top': '20px'}">
    <table class="table-wrapper" #printtable id="printtable">
        <thead class="table-header">
          <tr class="table-row">
            <th class="table-col">No</th>
            <th class="table-col">Icon</th>
            <th class="table-col">Name</th>
            <th class="table-col">Updated At</th>
            <th class="table-col">Published On Homepage</th>
            <th class="table-col">Published</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody class="table-body">
          <tr *ngFor="let item of this.categoryStore.categories; let i=index">
              <td class="table-col">{{i + 1}}</td>
              <td class="table-col">
                <img *ngIf="!item.icon.image" [defaultImage]="'./assets/images/icons/loading.gif'" [lazyLoad]="'./assets/images/icons/no image.png'" [ngStyle]="{'height': '50px'}" />
                <img *ngIf="item.icon.image" [defaultImage]="'./assets/images/icons/loading.gif'" [lazyLoad]="item.icon.image" [ngStyle]="{'height': '50px'}" />
              </td>
              <td class="table-col" [ngStyle]="{'cursor': 'pointer'}" [routerLink]="['/admin/category-management/subCategories/' + item.key ]">{{item.name}}</td>
              <td class="table-col">{{dateFormatService.formatDate(item.updatedAt)}}</td>
              <td [ngStyle]="{'width': '220px'}">
                <mat-checkbox class="example-margin" (change)="publishedOnHomePageChanged($event.checked, item)" [checked]="item.publishedOnHomePage"></mat-checkbox>
              </td>
              <td [ngStyle]="{'width': '220px'}">
                <mat-checkbox class="example-margin" (change)="publishedChanged($event.checked, item)" [checked]="item.published"></mat-checkbox>
              </td>

              <td [ngStyle]="{'width': '120px'}">
                <div class="actionButtons">
                  <button mat-icon-button (click)="editCategory(item)">
                    <mat-icon>edit</mat-icon>
                  </button>
                </div>
              </td>
          </tr>
        </tbody>
    </table>
  </div>
</div>
