@import '../../../../setting.scss';

#categoryContainer {
  width: 100%;
  padding: 0px 30px;
  margin-top: 20px;

  tr .actionButtons {
    display: none;
  }

  tr:hover .actionButtons {
    display: block;
  }
}

.categoryHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    margin: 0;
  }

  button {
    padding-left: 0;
  }

  button {
    padding-left: 0;
    margin-left: 20px;

    mat-icon {
      background-color: darken($color: $base-color, $amount: 10);
      padding: 7px;
      border-radius: 3px;
      box-sizing: content-box;
      margin-right: 10px;
    }
  }
}
