<div class="productDetailContainer">
  <div class="header">
    <h1>Product Details</h1>
    <div class="header__buttons">

      <button mat-raised-button class="navyBlue-button buttonWithIcon" (click)="openEditProductDialog()">
        <mat-icon>edit</mat-icon>
        <span>Edit Product</span>
      </button>

      <button mat-raised-button class="buttonWithIcon" (click)="deleteProduct()"
        style="margin-right: 20px; background-color: #F44336; color: white;">
        <mat-icon style="background-color: #c4372d; color: white;">delete</mat-icon>
        <span>Delete Product</span>
      </button>
    </div>
  </div>

  <div class="content">
    <mat-tab-group>
      <mat-tab label="Product Details">
        <app-product-details [product_data]="this.productStore.product" [slider_images]="this.productStore.product?.images"></app-product-details>
      </mat-tab>
      <mat-tab label="Color Collection">
        <app-color-collection [product_data]="this.productStore.product"></app-color-collection>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
