@import '../../../../setting.scss';

.navigationHeaderContainer {
  max-width: 1400px;
  margin: 0 auto;
  background-color: white;
  padding: 0px 20px;
  padding-bottom: 0px;
  overflow: auto;

  .navigationContainer {
    width: calc(100% - 200px);

    ul {

      li {
        list-style-type: none;
        float: left;
        padding: 10px 20px;
      }

      li:hover {
        cursor: pointer;
        color: white;
        background-color: $base-color;;
      }

      li:focus {
        outline: none;
        border: none;
      }
    }
  }
}