.headerContainer {
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: calc(100% - 280px);
  background-color: rgb(253, 253, 253);

  div {
    padding: 10px;

    .searchZone {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px;
    }
  }

  .leftside-tool {
    display: flex;
  }

  .rightside-tool {
    .avatar {
      button {
        padding: 10px;
        display: flex;
        align-items: center;

        .userIcon {
          font-size: 34px;
        } 

        .labelUser {
          margin-left: 10px;
        }
      }
    }
  }
}
