<div class="headerContainer">

  <div class="leftside-tool">
    <div class="searchZone">

      <form [formGroup]="searchProductForm" class="addBrandForm" (ngSubmit)="onSubmit(searchProductForm.value)">
        <!-- <button mat-button [ngStyle]="{'height': '50px'}">
          <span class="material-icons"> search </span>
        </button> -->

        <!-- <mat-form-field appearance="outline" [ngStyle]="{'margin-left': '10px'}">
          <mat-label>Search by</mat-label>
          <mat-select (selectionChange)="onSubCategoryChanged($event)" formControlName="option">
            <mat-option value="Name">Name</mat-option>
            <mat-option value="Category">Category</mat-option>
          </mat-select>
        </mat-form-field> -->

        <mat-form-field appearance="outline" [ngStyle]="{'margin-left': '10px', 'width': '300px'}">
          <mat-label>{{this.selectedOption ? this.selectedOption : 'Name'}}</mat-label>
          <input matInput placeholder="{{this.selectedOption ? this.selectedOption : 'Name'}}" type="text" formControlName="keyword">
        </mat-form-field>
      </form>

    </div>
  </div>

  <div class="rightside-tool">
    <div class="nav-item-link" [matMenuTriggerFor]="userMenu" [ngStyle]="{'z-index': '120'}">
      <div class="avatar">
        <button mat-button>
          <span class="material-icons userIcon"> account_circle </span>
          <span class="labelUser">Admin</span>
        </button>
      </div>
    </div>

    <mat-menu #userMenu="matMenu" class="cs-matmenu">
      <button mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>Admin</span>
      </button>
      <mat-divider></mat-divider>
      <!-- <button mat-menu-item (click)="changePassword()">
          <mat-icon>verified_user</mat-icon>
          <span>Change password</span>
      </button> -->
      <button mat-menu-item (click)="onLogOut()">
          <mat-icon>lock_open</mat-icon>
          <span>Sign Out</span>
      </button>
    </mat-menu>
  </div>

</div>
