@import '../../../../setting.scss';

.navigationHeaderContainer {
  max-width: 1440px;
  margin: 0 auto;
  background-color: white;
  padding: 0px 20px;
  padding-bottom: 0px;
  overflow: auto;

  .sidebarNavigationContainer {
    width: 250px;

    .categoriesLabel {
      width: 250px;
      padding: 8px;
      color: white;
      background-color: $base-color;;
      float: left;

      position: relative;

      display: flex;
      align-items: center;
      justify-content: flex-start;

      .categoryIcon {
        margin-right: 5px;
      }
    }

    .navSidebarContainer {
      display: none;
      position: absolute;
      z-index: 100;
      top: 162px;
      width: 250px;
      background-color: white;
      box-shadow: 0px 5px 8px rgb(224, 224, 224);

      ul {

        li {
          list-style-type: none;

          .navElement {
            position: relative;
            padding: 15px;

            display: flex;
            justify-content: space-between;
            align-items: center;

            .subNavElements {
              position: absolute;
              z-index: 2;
              left: 245px;
              width: 250px;
              box-shadow: 0px 0px 4px #b9b9b9;

              .subNavElement {
                display: none;
                padding: 15px;
                font-weight: normal;
                background-color: white;
                color: black;

                p {
                  margin: 0;
                }
              }

              .subNavElement:hover {
                cursor: pointer;
                border-left: 5px solid $base-color;;
                color: $base-color;;
              }

              .subNavElement:focus {
                outline: none;
                border: none;
              }
            }
          }

          .navElement:hover {
            cursor: pointer;
            font-weight: bold;
            border-left: 5px solid $base-color;;
            color: $base-color;;

            .subNavElements {

              .subNavElement {
                display: block;
              }
            }
          }
        }
      }
    }
  }

  .sidebarNavigationContainer:hover {
    cursor: pointer;

    .navSidebarContainer {
      display: block;
    }
  }

  .navigationContainer {
    width: calc(100% - 200px);

    ul {

      li {
        list-style-type: none;
        float: left;
        padding: 10px 20px;
      }

      li:first-child {
        margin-left: 20px;
      }

      li:hover {
        cursor: pointer;
        color: white;
        background-color: $base-color;;
      }

      li:focus {
        outline: none;
        border: none;
      }
    }
  }
}

@media only screen and (max-width: 850px) {

  .navigationHeaderContainer {
    display: none !important;

    .sidebarNavigationContainer {

      .categoriesLabel {
        width: 150px;
      }
    }

    .navigationContainer {
      width: calc(100% - 100px);
    }
  }
}
