.headerDialog {
  padding: 10px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;

  img:first-child {
    width: 22px;
  }

  img:focus {
    outline: none;
    border: none;
  }

  img:hover {
    cursor: pointer;
  }
}

.headerDialog_search {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin: 0 auto;

  input {
    width: 100%;
    padding: 5px;
    border: 1px solid white;
    border-bottom: 1px solid black;
    margin-right: 10px;
  }

  input:focus {
    outline: none;
  }
}

#searchButton {
  margin-right: 10px;
  font-size: 25px;
  padding: 15px;
}

#searchButton:hover {
  color: white;
  background-color: #0177CF;
  border-radius: 5px;
  cursor: pointer;
}

.categoryContainer {
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  p {
    margin-top: 30px;
    font-size: 20px;
  }

  p:hover {
    color: #0177CF;
    font-weight: 400;
    cursor: pointer;
  }
}
