<form [formGroup]="addBrandForm" class="addBrandForm" (ngSubmit)="onSubmit(addBrandForm.value)">
  <h1>Add Brand</h1>

  <mat-form-field appearance="outline" id="txtName">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" formControlName="name" type="text">
  </mat-form-field>

  <label>Upload Image</label><br><br>
  <input type="file" formControlName="image" (change)="uploadFileChange($event)"><br><br>

  <button mat-flat-button color="primary" type="submit">Add</button>
  <button mat-flat-button color="warn" type="reset">Cancel</button>
</form>
