<div class="productDetailContainer">
  <h1>{{this.product_data?.name}}</h1>
  <p><b>+ Item Code:</b> {{this.product_data?.itemCode}}</p>
  <p><b>+ Brand:</b> {{this.product_data?.brand.name}}</p>
  <p><b>+ Category:</b> {{this.product_data?.category.name}}</p>

  <!-- <br>
  <div class="colorSampleContainer">
    <p> Color: </p>
    <div class="colorSample" [ngStyle]="{'background-color': this.product_data?.color}">
      <p>{{this.product_data?.color}}</p>
    </div>
  </div> -->
  <!-- <br> -->

  <p><b>+ Product Description:</b></p>
  <p [innerHTML]="this.product_data?.description"></p>

  <p><b>+ Created At:</b> {{formatDate(this.product_data?.createdAt)}}</p>
  <p><b>+ Updated At:</b> {{formatDate(this.product_data?.updatedAt)}}</p>

  <div class="ImagePreviewContainer">
    <p><b>+ Product Images:</b></p>
    <div class="imagePreview">
      <div *ngFor="let image of this.product_data?.images">
        <img src="{{image.image}}">
      </div>
    </div>
  </div>
</div>
