<div class="colorCollectionContainer" *mobxAutorun>
  <h1 mat-dialog-title>Add Color</h1>

  <mat-dialog-content class="mat-typography">

    <div class="contentContainer">
      <form [formGroup]="addColorForm" class="addBrandForm" (ngSubmit)="onSubmit(addColorForm.value)">
        <mat-form-field appearance="outline">
          <mat-label>Color</mat-label>
          <input matInput placeholder="Color" formControlName="color" type="text" required>
        </mat-form-field><br>

        <label>Upload Images:</label><br><br>
        <p-fileUpload class="imageSelection" #fileUpload (onSelect)="uploadFileChange($event)"
          multiple="multiple" accept="image/*" chooseLabel="Upload Images" showUploadButton=false cancelIcon="/assets/images/icons/cancel.png">
          <ng-template pTemplate="content">
          </ng-template>
        </p-fileUpload>

        <div class="containerWithSpaceBetween" [ngStyle]="{'width': '100%'}">
          <button mat-flat-button color="warn" (click)="clearForm()">Clear</button>
          <button mat-flat-button type="submit" class="navyBlue-button" [ngStyle]="{'margin': '0px'}">Add</button>
        </div>
      </form>

      <div class="scrollable-table" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="500" [ngStyle]="{'margin-top': '-25px'}">
        <table class="table-wrapper" #printtable id="printtable">
            <thead class="table-header">
                <tr class="table-row">
                    <th class="table-col">No</th>
                    <th class="table-col">Color</th>
                    <th class="table-col">Image</th>
                    <th [ngStyle]="{'color': 'red', 'width': '100px'}">Delete</th>
                </tr>
            </thead>
            <tbody class="table-body">
                <tr *ngFor="let item of this.productColorStore.productColors; let i=index">
                    <td class="table-col">{{i + 1}}</td>
                    <td class="table-col">{{item.color}}</td>
                    <td class="table-col">
                      <img src="{{item.image}}" [ngStyle]="{'height': '50px'}">
                    </td>
                    <td [ngStyle]="{'width': '100px'}">
                      <div class="actionButtons">
                        <button mat-icon-button (click)="deleteColorFromCollection(item)">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                    </td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>

  </mat-dialog-content>
</div>

<!-- <button mat-raised-button color="primary" (click)="OpenAddColorDialog()">Add Color</button> -->

<!-- <label>Color Code:</label><br><br>
  <input [(colorPicker)]="colorCode" [style.background]="colorCode" class="colorPicker" formControlName="color" readonly /><br><br> -->

<!-- <th class="table-col">Color Code</th> -->

<!-- <td class="table-col">
  {{item.colorCode}}
  <div [ngStyle]="{'background-color': item.colorCode}" class="demoColor"></div>
</td> -->
