<div class="productsByCategoryContainer">

  <ng-container *ngFor="let category of this.categoryStore.ProductsByCategory">

    <div *ngIf="category.value.length != 0" class="container">
      <div class="container_header">
        <h1 style="color: #0177CF !important;">{{ category.key.name }}</h1>
      </div>

      <div class="productsContainer">
        <ng-container *ngFor="let product of category.value; let i = index;">

          <div *ngIf="i < 4" class="productContainer_element productContainer_element{{i}}">
            <div [routerLink]="['/product/' + product.key]" class="productContainer">

              <div class="imageContainer">
                <img [defaultImage]="'./assets/images/icons/loading.gif'" [lazyLoad]="product.images[0].image"/>
              </div>
              <p>{{product.name | shorten: 40: '...'}}</p>

            </div>
          </div>

        </ng-container>

        <ng-container *ngIf="category.value.length >= 5">
          <div [routerLink]="['/subcategory/' + category.value[0].category.key]" class="productContainer_last_child">
            <div class="imagesContainer">
              <div class="imageContainer">
                <img *ngIf="category.value.length >= 5" [defaultImage]="'./assets/images/icons/loading.gif'" [lazyLoad]="category.value[4]?.images[0].image"/>
                <img *ngIf="category.value.length >= 6" [defaultImage]="'./assets/images/icons/loading.gif'" [lazyLoad]="category.value[5]?.images[0].image"/>
                <img *ngIf="category.value.length >= 7" [defaultImage]="'./assets/images/icons/loading.gif'" [lazyLoad]="category.value[6]?.images[0].image" style="padding-left: 0px;" />
                <img *ngIf="category.value.length >= 8" [defaultImage]="'./assets/images/icons/loading.gif'" [lazyLoad]="category.value[7]?.images[0].image"/>
              </div>
            </div>
            <div class="textContainer">
              <br>
              View More
            </div>
          </div>
        </ng-container>

      </div>
    </div>
  </ng-container>

</div>
