<div id="productContainer" *mobxAutorun>
  <div class="productHeader">
    <div [ngStyle]="{'display': 'flex', 'justify-content': 'center', 'align-items': 'center'}">
      <h1>Products</h1>
      <h4>by Category</h4>
    </div>
    <div class="groupButtons">
      <button mat-raised-button class="navyBlue-button" (click)="openAddProductByCategoryDialog()">
        <mat-icon>add</mat-icon>
        <span>Add {{ this.subCategoryStore.subCategory?.name ? this.subCategoryStore.subCategory?.name : buttonText }}</span>
      </button>
    </div>
  </div>

  <div class="productBody">
    <span>Products of</span>
    <mat-form-field appearance="outline" [ngStyle]="{'margin-top': '30px', 'margin-left': '10px'}">
      <mat-label>Category</mat-label>
      <mat-select (selectionChange)="onSelectCategoryChanged($event)" [(value)]="this.subCategoryStore.subCategory" [compareWith]="compareFn">
        <mat-optgroup label="Category">
          <mat-option *ngFor="let item of this.subCategoryStore.subCategories" [value]="this.categoryMapping.MapSubCategoryObj(item)">
            {{item.name}}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>

    <div class="scrollable-table" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="500">
      <table class="table-wrapper" #printtable id="printtable">
          <thead class="table-header">
              <tr class="table-row">
                  <th class="table-col">No</th>
                  <th class="table-col">ItemCode</th>
                  <th class="table-col">Image</th>
                  <th class="table-col">Name</th>
                  <th class="table-col">Color</th>
                  <th class="table-col">Subcategory</th>
                  <th class="table-col">Brand</th>
                  <th class="table-col">Published</th>
                  <!-- <th class="table-col">Created At</th>
                  <th class="table-col">Updated At</th> -->
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody class="table-body">
            <tr *ngFor="let item of this.productStore.products; let i=index">
                  <td class="table-col">{{i + 1}}</td>
                  <td class="table-col" [routerLink]="['/admin/product-management/product-detail/' + item.key ]">{{item.itemCode}}</td>
                  <td class="table-col" [routerLink]="['/admin/product-management/product-detail/' + item.key ]">
                    <img *ngIf="item.images.length > 0" src="{{item.images[0].image}}" [ngStyle]="{'height': '38px'}">
                  </td>
                  <td class="table-col" [routerLink]="['/admin/product-management/product-detail/' + item.key ]">{{item.name}}</td>
                  <td class="table-col">{{item.category.name}}</td>
                  <td class="table-col">{{item.brand.name}}</td>
                  <td class="table-col">{{item.color}}</td>
                  <td class="table-col">
                    <mat-checkbox class="example-margin" (change)="publishedChanged($event.checked, item)" [checked]="item.published"></mat-checkbox>
                  </td>
                  <!-- <td class="table-col">{{dateFormat.formatDate(item.createdAt)}}</td>
                  <td class="table-col">{{dateFormat.formatDate(item.updatedAt)}}</td> -->

                  <td [ngStyle]="{'width': '120px'}">
                    <div class="actionButtons">
                      <button mat-icon-button (click)="editProduct(item)">
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button mat-icon-button (click)="deleteProduct(item)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  </td>

                  <!-- <td>
                    <div class="rowOptionAction">
                      <button mat-menu-item (click)="editProduct(item)">
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                      </button>
                      <button mat-menu-item (click)="deleteProduct(item)">
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                      </button>
                    </div>
                  </td> -->
              </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>
