<h2 mat-dialog-title>Add Slideshow</h2>
<mat-dialog-content class="mat-typography">
  <div>
    <p-fileUpload class="imageSelection" #fileUpload (onSelect)="uploadFileChange($event)"
      multiple="multiple" accept="image/*" chooseLabel="Upload Images">
      <ng-template pTemplate="content">
      </ng-template>
    </p-fileUpload>

    <div class="containerWithSpaceBetween">
      <div>
        <button mat-raised-button class="buttonWithIcon" type="button" mat-dialog-close
         style="margin-right: 20px; background-color: #FF033E; color: white;">
          <mat-icon style="background-color: #ce0231; color: white;">close</mat-icon>
          <span>Close</span>
        </button>

        <button mat-raised-button class="buttonWithIcon" type="button" (click)="clearSelectedFiles()"
         style="margin-right: 20px; background-color: #F44336; color: white;">
          <mat-icon style="background-color: #c4372d; color: white;">not_interested</mat-icon>
          <span>Clear</span>
        </button>
      </div>
      <button mat-raised-button class="navyBlue-button buttonWithIcon" type="button" style="margin-right: 0px;" (click)="submitUploading()">
        <mat-icon>add</mat-icon>
        <span>Add Slideshow</span>
      </button>
    </div>
  </div>
</mat-dialog-content>
