<!-- <app-products></app-products>
<app-brands></app-brands>
<app-categories></app-categories> -->

<router-outlet></router-outlet>

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>

<!-- Your Chat Plugin code -->
<!-- <div class="fb-customerchat"
  attribution=setup_tool
  page_id="">
</div> -->

<div class="fb-customerchat" attribution=setup_tool page_id="105069854762366" theme_color="#1887FB"
    logged_in_greeting="welcome user"
    logged_out_greeting="hello world">
</div>
