<div class="sidebarContainer">
  <img src="/assets/images/logos/logo 2.jpg" [routerLink]="">

  <div class="menuList">
    <a href="/product-management">
      <div class="menuElement">
        <span class="menuElementIcon"> <img src="/assets/images/icons/books.png" /> </span>
        <p>Products</p>
      </div>
    </a>
    <a href="/category-management">
      <div class="menuElement">
        <span class="menuElementIcon"> <img src="/assets/images/icons/newtons-cradle.png" /> </span>
        <p>Categories</p>
      </div>
    </a>
    <a href="/brand-management">
      <div class="menuElement">
        <span class="menuElementIcon"> <img src="/assets/images/icons/blackboard.png" /> </span>
        <p>Brands</p>
      </div>
    </a>
  </div>

  <div class="signout" (click)="onLogOut()">
    <span class="menuElementIcon">
      <img src="/assets/images/icons/padlock.png" />
    </span>
    <p>Sign Out</p>
  </div>
</div>
