#productContainer {
  width: 100%;
  padding: 0px 30px;
  margin-top: 20px;

  tr .actionButtons {
    display: none;
  }

  tr:hover .actionButtons {
    display: block;
  }
}

.productHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    margin: 0;
  }

  .groupButtons {
    display: flex;
  }

  button {
    padding-left: 0;
    margin-left: 20px;
  }

  button mat-icon {
    background-color: #123764;
    padding: 7px;
    border-radius: 3px;
    box-sizing: content-box;
    margin-right: 10px;
  }
}
