@import '../../../../setting.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headerParentContainer {
  width: 100%;
  height: auto;
  background-color: white;
}

.headerContainer {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .headerContainer_logo {
    width: auto;

    img {
      height: 100px;
    }

    img:focus {
      outline: none;
      border: none;
    }

    img:hover {
      cursor: pointer;
    }
  }

  .headerContainer_search {
    width: calc(100% - 300px);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $base-color;

    input {
      width: 100%;
      padding: 15px;
      border: none;
    }

    input:focus {
      outline: none;
    }

    select {
      width: 150px;
      cursor: pointer;
      background-color: $base-color;
      color: white;
      padding: 15px;
      border: none;
    }

    select:focus {
      outline: none;
    }

    button {
      cursor: pointer;
      padding: 16px;
      border: none;
      background-color: $base-color;
      color: white;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    button:focus {
      outline: none;
    }
  }
}

.headerContainer_2 {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;

  width: 100%;
  padding: 10px 30px;
  box-sizing: border-box;
  background-color: white;

  display: none;

  .headerContainer_logo {
    width: 150px;

    img
    {
      width: 100%;
    }

    img:focus {
      outline: none;
      border: none;
    }

    img:hover {
      cursor: pointer;
    }
  }

  .headerContainer_icon {
    width: 30px;

    img {
      width: 100%;
    }

    img:focus {
      outline: none;
      border: none;
    }

    img:hover {
      cursor: pointer;
    }
  }

  .headerContainer_icon, .headerContainer_logo {
    cursor: pointer;
  }

  .headerContainer_icon:focus, .headerContainer_logo:focus {
    outline: none;
    border: none;
  }
}

.headerContainer_2_invisble {
  width: 100%;
  height: 90px;
  display: none;
}

@media only screen and (max-width: 850px) {

  .headerContainer {
    display: none;
  }

  .headerContainer_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .headerContainer_2_invisble {
    display: block;
  }
}
