.imageSlideShowContainer {
  width: 100%;
  overflow: hidden;

  .slideShow {

    .swiper-slide {

      .imageContainer {
        width: 100%;
        height: 420px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .imageContainer::-webkit-scrollbar {
        width: 0px;
      }
    }
  }
}

.imageSlideShowContainer::-webkit-scrollbar {
  width: 0px;
}
