.homeContainer {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px 20px;

  clear: both;
  float: none;
  background-color: #F2F2F2;

  .nav_AdvertisementContainer {
    width: 100%;
    display: flex;
    padding: 20px;
    padding-bottom: 0px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;

    .navContainer {
      width: 250px;
    }

    .advertisementContainer {
      width: calc(100% - 250px);
      box-sizing: border-box;
      padding-left: 20px;
    }
  }
}

@media only screen and (max-width: 850px) {

  .nav_AdvertisementContainer {
    display: none !important;

    .navContainer {
      display: none;
    }

    .advertisementContainer {
      display: none;
    }
  }

  .showProductByCategory {
    margin-top: 20px;
  }
}
