<div class="categoriesNavigation">
  <span class="material-icons categoryIcon">list</span>
  <span>Categories</span>
</div>

<div class="navSidebarContainer">
  <ul>
    <li>

      <ng-container *ngIf="this.categoryStore.categories.length <= 7">
        <div class="navElement" *ngFor="let item of this.categoryStore.categories">
          <div>
            <img [defaultImage]="'./assets/images/icons/loading.gif'" [lazyLoad]="item.icon.image"/>
            <span>{{item.name}}</span>
          </div>
          <span class="material-icons">arrow_right</span>

          <div class="subNavElements">
            <ul>
              <ng-container *ngFor="let jtem of this.subCategoryStore.subCategories">
                <li class="subNavElement"  *ngIf="jtem.subcategory.name == item.name" [routerLink]="['/subcategory/' + jtem.key]">
                  <p>{{jtem.name}}</p>
                </li>
              </ng-container>

            </ul>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="this.categoryStore.categories.length > 7">
        <div class="navElement" *ngFor="let item of this.categoryStore.categories_6_elements">
          <div class="navElement_image_name">
            <img [defaultImage]="'./assets/images/icons/loading.gif'" [lazyLoad]="item.icon.image" [ngStyle]="{'width': '30px'}"/>
            <span>{{item.name}}</span>
          </div>
          <span class="material-icons">arrow_right</span>

          <div class="subNavElements">
            <ul>
              <ng-container *ngFor="let jtem of this.subCategoryStore.subCategories">
                <li class="subNavElement"  *ngIf="jtem.subcategory.name == item.name" [routerLink]="['/subcategory/' + jtem.key]">
                  <p>{{jtem.name}}</p>
                </li>
              </ng-container>
            </ul>
          </div>
        </div>

        <div class="navElement">
          <div class="navElement_image_name">
            <img src="/assets/images/icons/more.png" [ngStyle]="{'width': '30px'}">
            <span>All Categories</span>
          </div>
          <span class="material-icons">arrow_right</span>

          <div class="allCategoriesDialog">
            <div *ngFor="let item of this.categoryStore.categories" class="categoryBlock">
              <span style="color: #0177CF;">{{item.name}}</span>
              <span *ngFor="let jtem of this.subCategoryStore.subCategories">
                <span *ngIf="jtem.subcategory.name == item.name" [routerLink]="['/subcategory/' + jtem.key]"> {{ '&nbsp;&nbsp;/&nbsp;&nbsp;' + jtem.name}}</span>
              </span>
            </div>
          </div>
        </div>
      </ng-container>

    </li>
  </ul>
</div>
