<form [formGroup]="addCategoryForm" class="addCategoryForm" (ngSubmit)="onSubmit(addCategoryForm.value)">
  <h1>Add Category</h1>

  <mat-form-field appearance="outline" id="txtName">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" formControlName="name" type="text">
  </mat-form-field>

  <mat-checkbox class="example-margin" (change)="checkedSubCategoryChanged($event.checked)">SubCategory</mat-checkbox><br/><br/>

  <mat-form-field appearance="outline">
    <mat-label>Select</mat-label>
    <mat-select
    [disabled]="disabledSubCategory"
    (selectionChange)="onSubCategoryChanged($event)"
    formControlName="subcategory">
      <mat-option *ngFor="let item of categoryStore.categories;" [value]="this.categoryMapping.MapCategoryObj(item)">{{item.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-checkbox class="example-margin" (change)="checkedSubSubCategoryChanged($event.checked)" [disabled]="disabledSubCategory">More SubCategory</mat-checkbox><br/><br/>

  <mat-form-field appearance="outline">
    <mat-label>Select</mat-label>
    <mat-select
    [disabled]="disabledSubSubCategory"
    formControlName="subsubcategory">
      <ng-container *ngFor="let item of this.tempSubCategories">
        <mat-option [value]="this.categoryMapping.MapCategoryObj(item)">{{item.name}}</mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>

  <button mat-flat-button color="primary" type="submit">Add</button>
  <button mat-flat-button color="warn" type="reset">Cancel</button>
</form>
